<center>
  <%= image_tag 'logo.png', class: 'logo' %><br>
</center>

<ul>
  <li><%= link_to 'Approve Submitted Images', approval_path %></li>
  <li><%= link_to 'Admin Menu', approval_path %></li>
</ul>
