<center>
  <%= image_tag 'logo.png', class: 'logo' %><br>
  <ul>
    <li><%= link_to 'Approve Submitted Images', approval_path %></li>
    <li><%= link_to 'Admin Menu', admin_districts_path %></li>
  </ul>
</center>

